Cython==3.2.9
fastapi==0.141.1
gdown==6.1.0
h5py==3.16.0
imageio==2.37.4
# numpy==2.5.1
numpy==2.4
onnx==1.22.0
onnxsim==0.7.0
opencv_python==5.0.0.93
openvino==2026.2.1
pandas==3.0.5
Pillow==12.3.0
python-multipart==0.0.32
scipy==1.17.1
setuptools==83.0.0
six==1.17.0
torch==2.13.0
torchvision==0.28.0
ultralytics==8.4.106
uvicorn==0.52.1
yacs==0.1.8